<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAthletesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51346/AthletesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAthletesService"
                contract="AthletesService.IAthletesService" name="BasicHttpBinding_IAthletesService" />
        </client>
    </system.serviceModel>
</configuration>